<div class="flex items-center justify-center w-full my-20">
    <div class="flex flex-col w-3/6 items-center rounded-lg bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 shadow-md md:flex-row hover:scale-125">
        <img class="object-cover w-3/6 rounded-t-lg h-96 md:h-auto md:rounded-none md:rounded-l-lg" src={{project.trailerurl}} alt="">
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h2 class="mb-2 text-2xl font-bold tracking-tight text-white">{{project.name}}</h2>
            <p class="mb-3 font-normal text-gray-400">{{project.description}}</p>
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">{{project.startYear}} - {{project.endYear}}</h5>
        </div>
    </div>
</div>
